@import "./global.css";
@import "./button.css";
@import "./layout.css";
@import "./navigation.css";
@import "./get-in-touch.css";
@import "./footer.css";

.section-01 {
  background-color: #19776e;
  padding: 5rem 0;
  height: 50rem;
  margin-bottom: 16.5rem;
  padding-top: 1.6rem;
}

.navbar--portfolio {
  color: #ffffff;
  margin-bottom: 2.4rem;
}

.navbar__top-text,
.navbar__bottom-logo h2,
.navbar__bottom-link {
  color: #ffffff;
}

.navbar__btn {
  color: #19776e;
  background-color: #ffffff;
}

.header__img img {
  width: 100%;
}

/*  */

.section-02 {
  padding: 5rem 0;
  /* margin-bottom: 5rem; */
}

.sp-1,
.sp-2,
.sp-3 {
  font-weight: 500;
  font-size: clamp(4rem, 4vw, 6.4rem);
  line-height: clamp(4.8rem, 4.8vw, 7.2em);
}

.sp-1 {
  color: #2441ba;
}

.sp-2 {
  color: #0a302c;
  margin-left: 5.9rem;
}

.sp-3 {
  color: #0a302c;
  margin-left: 15rem;
}

.sect-02-cap {
  margin-bottom: 10rem;
}

.sec-2-it {
  display: flex;
  gap: 2.8rem;
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.sec-2-it > * {
  width: calc((100% - 2.8rem) / 2);
}

.it-1 img {
  width: 100%;
  object-fit: cover;
}

.it-text {
  max-width: 52.1rem;
  margin-top: 1rem;
}

.it-text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #405956;
}

a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0a302c;
}

/* 03 */
.section-03 {
  padding: 5rem 0;
}

.sec-3-cap h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 6.4rem;
  line-height: 7.2rem;
  color: #0a302c;
}

.section-03 h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 1rem;
  color: #0a302c;
}

.section-04 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;
}

.section-04 h2 {
  font-weight: 500;
  font-size: clamp(2.8rem, 4rem, 5.6rem);
  line-height: clamp(3.2rem, 4.8rem, 7.2rem);
  /* max-width: 110rem; */
  color: #0a302c;
}

.s-04-it {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  gap: 13rem;
  font-weight: 500;
  font-size: 5.4rem;
  line-height: 7.2rem;
}

.s-04-it p {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #2441ba;
}

.s04-it {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

/* 05 */

.section-05 {
  display: flex;
  /* max-width: 1140px; */
  gap: 5rem;
  margin: 0 auto;
  background-image: linear-gradient(160deg, #19776e, #00359b);
  padding: 5rem 0;
}

.content {
  display: flex;
  gap: 6.4rem;
}

.content > * {
  width: calc((100% - 6.4rem) / 2);
}

.sp-4,
.sp-5,
.sp-6 {
  font-weight: 500;
  font-size: clamp(2.8rem, 4rem, 5.6rem);
  line-height: clamp(3.2rem, 4.8rem, 7.2rem);
}

.text p {
  margin-top: 10rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 146.02%;
  color: #ffffff;
  margin-bottom: 4rem;
}

.sp-4 {
  color: #ffffff;
  margin-bottom: 3rem;
  display: block;
}

.sp-5 {
  color: #fff386;
  margin-bottom: 3rem;
  margin-left: 6.8rem;
  display: block;
}

.sp-6 {
  color: #ffffff;
  margin-bottom: 2rem;
  margin-left: 15rem;
  display: block;
}

@media only screen and (max-width: 1000px) {
  .section-01 {
    height: 35rem;
    margin-bottom: 14.5rem;
  }

  .section-02,
  .section-03 {
    padding: 2.4rem 0;
  }

  .content {
    gap: 2.4rem;
    flex-direction: column;
  }

  .content > * {
    width: 100%;
  }

  .sp-4,
  .sp-5,
  .sp-6 {
    display: inline-block;
    margin: 0;
  }

  .text p {
    margin-top: 0;
  }
}

@media only screen and (max-width: 900px) {
  .section-01 {
    height: 35vh;
    margin-bottom: 17.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .section-01 {
    height: auto;
    margin-bottom: 0;
    padding: 0;
  }

  .sp-1,
  .sp-2,
  .sp-3 {
    display: inline-block;
    margin: 0;
  }

  .sec-2-it {
    flex-direction: column;
  }

  .sec-2-it > * {
    width: 100%;
  }

  .sec-2-it > *:not(:last-child) {
    margin-bottom: 3.2rem;
  }

  .sec-3-cap h3 {
    font-size: 4rem;
  }

  .section-04 h2 {
    text-align: center;
  }

  .s-04-it {
    gap: 4rem;
    flex-direction: column;
  }
}
